
@{
    ViewBag.Title = "ManualProfesor";
    Layout = "~/Views/Profesors/_LayoutProfesor.cshtml";
}

<h2>Manual de profesor</h2>
<iframe src="~/Content/ManualProfesor/index.html" height="600"></iframe>
